/* || Global Styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --pink400: hsl(0, 36%, 70%);
    --red500: hsl(0, 93%, 68%);
    --gray900: hsl(0, 6%, 24%);
    --gradient_1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --gradient_2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

/* Main Styling */

body {
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
    background: var(--gradient_1);
}

@media screen and (min-width: 80em) {
    body {
        overflow: hidden;
    }
}

.main-container {
    align-items: center;
    flex-direction: column;
    height: 100%;
    justify-items: center;

    width: 100%;
}

@media screen and (min-width: 80em) {
    .main-container {
        display: grid;
        grid-area: "header image" "text image";
        grid-template-rows: 10% 90%;
        grid-template-columns: 50% 50%;
        overflow: hidden;
    }
}

header {
    display: flex;
    justify-content: flex-start;
    padding: 2rem;
    width: 100%;
}

@media screen and (min-width: 80em) {
    header {
        padding: 7rem;
    }
}

.hero-img-mobile {
    height: auto;
    margin-block-end: 3rem;
    width: 100%;
}

@media screen and (min-width: 51.25em) {
    .hero-img-mobile {
        margin-block-end: 4rem;
    }
}

.hero-img-desktop {
    display: none;
}

@media screen and (min-width: 80em) {
    .hero-img-mobile {
        display: none;
    }

    .hero-img-desktop {
        display: block;
        height: auto;
        grid-column: 2;
        grid-row: span 2;
        width: 100%;
    }
}

.text-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 70%;
    padding: 2rem 0;
    position: relative;
}

span {
    color: var(--pink400);
    font-weight: 300;
}

h1 {
    font-size: clamp(3rem, 5vw, 5rem);
    font-weight: 500;
    letter-spacing: 0.8rem;
    margin-block-end: 2rem;
    text-align: center;
}

p {
    color: var(--pink400);
    font-size: clamp(1rem, 5vw, 1.2rem);
    line-height: 150%;
    margin-block-end: 2rem;
    padding: 0 2rem;
    text-align: center;
}

form {
    margin-block-end: 2rem;
    position: relative;
    width: 100%;
}

.form-container {
    position: relative;
    width: 100%;
}

.error-message {
    background: transparent;
    bottom: -2.5rem;
    color: var(--red500);
    display: none;
    font-size: 1rem;
    left: 1rem;
    position: absolute;
    z-index: 2;
}

@media screen and (min-width: 80em) {
    h1,
    p {
        text-align: left;
    }

    p {
        padding: 0;
    }

    form {
        padding: 0;
        width: 100%;
    }
}

input {
    background-color: transparent;
    border: 0.1rem solid rgb(216, 197, 197);
    border-radius: 2rem;
    font-size: 1rem;
    margin-block-end: 1rem;
    padding: 1.2rem 2rem;
    transition: all 0.2s ease-in-out;
    width: 100%;
}

input::placeholder {
    color: rgb(216, 197, 197);
}

input:focus {
    outline: var(--pink400);
    background-color: #fff;
}

.error-icn {
    display: none;
    position: absolute;
    right: 8rem;
    top: 1rem;
    transform: translateX(clamp(2rem, 5vw, -8rem));
}

.input-error {
    border: 0.1rem solid red;
}

button {
    background: var(--gradient_2);
    border: none;
    border-radius: 2rem;
    box-shadow: 0 1rem 2rem var(--pink400);
    cursor: pointer;
    padding: 1.1rem;
    position: absolute;
    right: 1rem;
    transform: translateX(clamp(-1rem, 5vw, 1rem));
    top: 0;
    width: 5rem;
}

@media screen and (min-width: 80em) {
    button {
        width: 6rem;
    }
}
