/* || Global Styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --pink400: hsl(0, 36%, 70%);
    --red500: hsl(0, 93%, 68%);
    --gray900: hsl(0, 6%, 24%);
    --gradient_1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    --gradient_2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

/* Main Styling */

body {
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
    background: var(--gradient_1);
}

header {
    padding: 2rem;
}

.hero-img-mobile {
    height: auto;
    margin-block-end: 3rem;
    width: 100%;
}

.text-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

span {
    color: var(--pink400);
    font-weight: 300;
}

h1 {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.8rem;
    margin-block-end: 2rem;
    text-align: center;
}

p {
    color: var(--pink400);
    line-height: 150%;
    margin-block-end: 2rem;
    padding: 0 2rem;
    text-align: center;
}

form {
    padding: 0 2rem;
    position: relative;
    width: 100%;
}

input {
    background-color: transparent;
    border: 0.1rem solid rgb(216, 197, 197);
    border-radius: 2rem;
    font-size: 1rem;
    padding: 1.2rem 2rem;
    transition: all 0.2s ease-in-out;
    width: 100%;
}

input::placeholder {
    color: rgb(216, 197, 197);
}

input:focus {
    outline: var(--pink400);
    background-color: #fff;
}

button {
    background: var(--gradient_2);
    border: none;
    border-radius: 2rem;
    box-shadow: 0 1rem 2rem var(--pink400);
    cursor: pointer;
    padding: 1.1rem;
    position: absolute;
    right: 1rem;
    top: 0;
    width: 5rem;
}
