/* || Global Styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --pink400: hsl(0, 36%, 70%);
    --red500: hsl(0, 93%, 68%);
    --gray900: hsl(0, 6%, 24%);
    --gradient_1: Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
    --gradient_2: Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);
}

/* Main Styling */

body {
    font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
}
